.cartList {
  padding: 0 2rem;
  max-height: 22rem;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 2rem 0 2rem;
}

.header p {
  font-weight: bold;
}

/* Estilos actualizados para totalContainer */
.totalContainer {
  padding: 1.2rem 2rem;
  box-shadow: var(--sombra);
  display: flex; /* Mantiene el contenedor como flex */
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
}

/* Estilos para los títulos de los montos y los montos */
.totals,
.amounts {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
  gap: 0.3rem; /* Espacio entre los elementos */
}

.totals p,
.amounts p {
  margin: 0; /* Remueve cualquier margen por defecto */
}

.amounts span {
  font-weight: bold;
  font-size: 1.3rem;
}

.noItems {
  padding: 2rem 0 3rem 0;
}

/* Centra solo el botón de finalizar compra */
.totalContainer button {
  align-self: center; /* Centra solo el botón horizontalmente */
  margin-top: 1rem; /* Ajusta según sea necesario */
}

@media all and (max-width: 470px) {
  .cartList {
    padding: 0 1.2rem;
    max-height: 40vh;
  }

  .header {
    padding: 2rem 1.2rem 0 1.2rem;
  }

  /* Ajustes para móviles para totalContainer */
  .totalContainer {
    padding: 1.2rem;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio (izquierda) también en móviles */
  }

  .totals p,
  .amounts p {
    font-size: 1.1rem;
  }

  /* Centra solo el botón de finalizar compra también en móviles */
  .totalContainer button {
    align-self: center; /* Centra solo el botón horizontalmente */
  }
}
